

*{
  margin: 0;
  padding: 0;
}
.header {
  padding: 10px;
  text-align: center;
  background: rgb(58, 158, 240);

  display:flex;
  justify-content: space-between;
}
h1{
  color:red;
  font-size: 30px;
}
.header input{

}

.content {
  text-align: center;
}